html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  font-family: "Verdana", sans-serif;
}

.board-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board {
  padding: 10px;
  margin: 0;
  list-style: none;
  background: #222222;
  border: 1px solid;
  border-radius: 10px;
  
  

  display: -webkit-box;
  display: -moz-box;	
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

  flex-direction: column;

  display: inline-block;
}

.row {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.button {
	background: #DDDDDD;
  border: 1px solid;
  border-radius: 10px;

	margin: 5px;
	width: 75px;
	height: 75px;

  display: table;
}

.button p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.modes {
  padding-bottom: 5px;
}

.mode-tab {
  border: 1px solid;
  padding: 2px;

  display: inline-block;
}