html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  justify-content: center;
}

.board-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  background: #222222;


}

.board {
  padding: 10px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

  flex-direction: column;

  display: inline-block;
}

.row {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.button {
	background: #DDDDDD;
  border: 2px solid black;
  border-radius: 10px;

	margin: 5px;
	width: 75px;
	height: 75px;

  display: table;
  cursor: pointer;
}

.button p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modes {
  padding-top: 15px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;

  flex-direction: column;

  text-transform: uppercase;
}

.mode-tab {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;

  background: #FFFFFF;

  display: inline-block;
  float: right;
  cursor: pointer;
}

.options {
  padding-bottom: 10px;
}

.option {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;

  background: #FFFFFF;

  display: inline-block;
  float: center;
  cursor: pointer;
}

.macros {
  display: inline-block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;

  background: #444444;

  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  padding-top: 17px;

  position: relative;
  top: -15px;
  z-index: -1;

  flex-direction: row;
  justify-content: center;
}

.macro {
  border: 2px solid;
  border-radius: 30px;

  background: #DDDDDD;

  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 3px;

  display: table;
  cursor: pointer;
  overflow: hidden;
}

.macro p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.slider {
  width: 800px;
}